/*Control space */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: "Bluu Next";
    src: url("assets/bluunext.woff2") format("woff2"),
        url("assets/bluunext.woff") format("woff");
}

body {
    font-family: Open Sans, sans-serif;
    line-height: 1.3;
    color: #333;
    background-color: #eedec3;
    background-image: linear-gradient(180deg, #FFF, rgba(255, 255, 255, 0));
    /* 180deg is the same as to bottom, direction, colorm */
    margin: 0 auto;
    max-width: 620px;
    padding: 20px;
    height: 100vh;
    transition: all 0.5s;
}

section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

section div.circle {
    width: 20px;
    height: 20px;
    background-color: #333;
    text-align: center;
    display: inline-block;
    margin-bottom: 5%;
    transition: all 0.5s;
}

h1 {
    color: #333;
    font-size: 23px;
    margin-bottom: 20px;
    font-weight: 500;
}

h2 {
    font-size: 5vmin;
    /* 10% of the minimum (height or) viewport width of the browser*/
    font-weight: 400;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 10%;
    left: 0;
    cursor: pointer;
}

footer img {
    width: 20px;
    margin: 0 10px;
    transform: scale(0.9);
    transition: all 1s;
}

audio {
    transition: all 1s;
}

#muteBtn {
    transform: scale(0.9);
    transition: all 1s;
}

#muteBtn:hover, footer img:hover {
    transform: scale(0.7);
}