@font-face {
    font-family: "HK Grotesk";
    src: url(assets/hk-grotesk.woff), url(assets/hk-grotesk.woff2);
}

body {
    font-family: "HK Grotesk";
    font-size: 36px;
    line-height: 1.25;
    color: #333;
}

div.progress {
    width: 0;
    top: 0;
    left: 0;
    background-color: #dad4dc;
    height: 4px;
    position: fixed;
    z-index: 2;
}

div.color {
    position: fixed;
    z-index: 2;
    bottom: 5%;
    right: 5%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}

div.color:hover {
    scale: 0.9;
}

header {
    position: fixed;
    top: 36px;
    left: 36px;
    z-index: 10;
}

.white {
    color: #dad4dc;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
}

section {
    background-color: #080B21;
    min-height: 100vh;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease-in-out;
}

div.content {
    position: relative;
}

div.content img {
    position: relative;
}

div.square {
    width: 100px;
    height: 100px;
    background-color: #D7AA9A;
    position: absolute;
    top: 50px;
    left: -50px;
}

div.circle {
    width: 100px;
    height: 100px;
    background-color: #3F749B;
    position: absolute;
    bottom: 50px;
    right: -50px;
    border-radius: 50%;
}

section.s2 {
    background-color: #626B88;
}

section.s2 div.square {
    background-color: #dad4dc;
}

section.s2 div.circle {
    background-color: #DEBE37;
}

section.s3 {
    background-color: #DEBE37;
}

section.s3 div.square {
    background-color: #CD8648;
}

section.s3 div.circle {
    background-color: #b59816;
}

section.s4 div.square {
    background-color: #E33C38;
}

section.s4 div.circle {
    background-color: #fffef8;
}